<section>

    <div class="mg-card">
        <!--Primary Card-->
        <div class="card whatsapp-card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title whatsapp-color">Whatsapp</h2>
                <h6 class="card-subtitle mb-2 text-muted text-left">Sinta-se a vontade para enviar uma mensagem para
                    nossa Central de Atendimento</h6>
                <p class="card-text">Caso deseje um atendimento mais rápido.</p>
                <p class="card-text">
                    <a href="https://web.whatsapp.com/send?phone=" target="_blank" class="icoWhatsapp">
                        <i class="fa-brands fa-whatsapp"></i> (xx) xxxxx-xxxx
                    </a>
                </p>
            </div>
        </div>

        <!--Second Card-->
        <div class="card phone-card text-center" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title telefone-color"> Telefone</h2>
                <h6 class="card-subtitle mb-2 text-muted text-left">Para Dúvidas e Reclamações entre em contato pelo
                    nosso telefone.</h6>
                <p class="card-text text-left">O horário de atendimento para este número é das 9h00 as 17h00</p>

                <a href="https://web.whatsapp.com/send?phone=" target="_blank" class="icoWhatsapp">
                    <i class="fa-brands fa-whatsapp"></i> (xx) xxxxx-xxxxx
                </a>
            </div>
        </div>

        <!--Third Card-->
        <div class="card email-card text-right" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title outlook-color">E-mail</h2>
                <h6 class="card-subtitle mb-2 text-muted text-left">Este é nosso e-mail oficial.</h6>
                <p class="card-text text-left">Para Sugestões, Trabalhe Conosco e Serviços, entre em contato pelo nosso
                    E-mail.</p>
                <a href="mailto:[e-mail]" target="_blank" class="icoEmail">
                    <i class="fa-solid fa-envelope"></i> exemplo@e-mail.com
                </a>
            </div>
        </div>
    </div>



    <!--
    <div class="row col-md-12"> </div>
    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">

            <!--First card-
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title whatsapp-color">Whatsapp</h2>
                        <h6 class="card-subtitle mb-2 text-muted text-left">Sinta-se a vontade para enviar uma mensagem para nossa Central de Atendimento</h6>
                        <p class="card-text text-left">Caso deseje um atendimento mais rápido.</p>
                        <p class="card-text">
                            <a href="https://web.whatsapp.com/send?phone=5511913274197" target="_blank" class="icoWhatsapp">
                            <i class="fa-brands fa-whatsapp"></i> (11) 91327-4197
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        
            <!--Second card-
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title telefone-color"> Telefone</h2>
                        <h6 class="card-subtitle mb-2 text-muted text-left">Para Dúvidas e Reclamações entre em contato pelo nosso telefone.</h6>
                        <p class="card-text text-left">O horário de atendimento para este número é das 9h00 as 17h00</p>
                        <a href="tel:+55113078-2047" target="_blank" class="icoPhone">
                            <i class="fa-solid fa-phone"></i> (11) 3078-2047
                        </a>
                    </div>
                </div>
            </div>
        
            <!--Third card-
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title outlook-color">E-mail</h2>
                        <h6 class="card-subtitle mb-2 text-muted text-left">Este é nosso e-mail oficial.</h6>
                        <p class="card-text text-left">Para Sugestões, Trabalhe Conosco e Serviços, entre em contato pelo nosso E-mail.</p>
                        <a href="mailto:vendas@denart.com.br" target="_blank" class="icoEmail">
                            <i class="fa-solid fa-envelope"></i> vendas@denart.com.br
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-6 col-md-4"></div>
-->

</section>