
<section>

    <!--carousel-->
    <div class="justify-content-center d-flex mg-d">
        <div class="row col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide fixa" data-ride="carousel">

                <!-- Carousel's Target - no need -->
                <!--
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                -->

            <div class="carousel-inner carousel-home">

            <!--First card-->
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">Seja Bem-vindo [nome da empresa]<!--Denart-->!</h2>
                        <h6 class="card-subtitle mb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        <p class="card-text">Fique a vontade para explorar nosso conteúdo.</p>
                    </div>
                </div>
            </div>

            <!--Second card-->
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">Trabalhamos com mais de [número de produtos] produtos!</h2>
                        <h6 class="card-subtitle mb-2 text-muted">Queremos dar a você produtos de qualidade.</h6>
                        <p class="card-text">Nosso catálogo conta com diversos produtos para: segurança, eletrica, hidraulica, etc.</p>
                        <a href="#" class="card-link">Conculte o nosso Catálogo.</a>
                    </div>
                </div>
            </div>

            <!--Third card-->
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">Entrega rápida para [Estado ou Cidade]!</h2>
                        <h6 class="card-subtitle mb-2 text-muted">Seu produto na mão de 2 a 5 dias úteis.</h6>
                        <p class="card-text">Trabalhamos com uma equipe disposta a fazer entregas rápidas, para qualquer zona da cidade de São Paulo.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel's Button - no need -->
        <!-- 
            <button class="carousel-control-prev mg-d" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next mg-d" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        --> 
            </div>
        </div>
    </div>


</section>
