<!--First Div-->
<div class="container-flud mg-first">

    <div class="row d-flex align-items-center">

        <!--Text-->
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="co-md-6 text-left">

                    <h1 class="color-theme">Somos a [nome da empresa]!</h1>
                    <h2>É um prazer conhecer você.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat unde totam perspiciatis quibusdam hic repudiandae neque est adipisci odit, enim aliquid placeat quis modi! Vero earum eveniet voluptatibus ea magni!.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio id sapiente cupiditate possimus ut quasi doloremque optio quod hic, nesciunt, reprehenderit sequi. Reprehenderit natus labore temporibus saepe eligendi quos?</p>
                </div>
            </div>

        </div>

        <!--Image-->
        <div class="col-md-6 d-flex justify-content-center">
            <img class="first-image" src="https://i.imgur.com/YqKyF2g.png" alt="" width="500px" height="500px">
        </div>

    </div>

</div>

<!--Second Div-->
<div>
    <h2 class="text-center mg-theme color-theme">Visão, Propósito e Valores</h2>
</div>

<div class="container">
    <div class="row justify-content-md-center">

        <!--Vision-->
        <h3 class="col-md-2 mg-theme color-theme text-right">Visão</h3>
        <div class="col mg-text text-left">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi excepturi sequi iste, eum culpa similique earum quas facilis natus alias, soluta dolor fuga eveniet quo eligendi cupiditate, nam quisquam..
        </div>

        <div class="w-100"></div>

        <!--Purpose-->
        <h3 class="col-md-2 mg-theme color-theme text-right">Propósito</h3>
        <div class="col mg-text text-left">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto consequatur tenetur voluptate assumenda minus. Quae ipsum rerum repellat obcaecati expedita unde, vitae consectetur culpa voluptates doloribus sint beatae, repudiandae eligendi?
        </div>

        <div class="w-100"></div>

        <!--Values-->
        <h3 class="col-md-2 mg-theme color-theme text-right">Valores</h3>
        <div class="col mg-text text-left">
            
            <!--Carousel-->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-3">
                            <!--First Image-->
                            <div class="col mb-4">
                                <!--commitment-->
                                <div>
                                    <img src="https://i.imgur.com/nWOENjd.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">COMPROMISSO</h5>
                                    </div>
                                </div>
                            </div>
                            <!--Second Image-->
                            <div class="col mb-4">
                                <div>
                                    <!--Unity-->
                                    <img src="https://i.imgur.com/uIZj6pQ.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">UNIÃO</h5>
                                    </div>
                                </div>
                            </div>
                            <!--Third Image-->
                            <div class="col mb-4">
                                <div>
                                    <!--Quality-->
                                    <img src="https://i.imgur.com/BSQRF2D.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">QUALIDADE</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row row-cols-1 row-cols-md-3">
                            <!--Fourth Image-->
                            <div class="col mb-4">
                                <div>
                                    <!--Communication-->
                                    <img src="https://i.imgur.com/Vu6Rb91.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">COMUNICAÇÃO</h5>
                                    </div>
                                </div>
                            </div>
                            <!--Fifth Image-->
                            <div class="col mb-4">
                                <div>
                                    <!--Knowledge-->
                                    <img src="https://i.imgur.com/kGJ0nLn.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">CONHECIMENTO</h5>
                                    </div>
                                </div>
                            </div>
                            <!--Sixth Image-->
                            <div class="col mb-4">
                                <div>
                                    <!--Planning-->
                                    <img src="https://i.imgur.com/Lvx8Gg1.png" class="card-img-top def-image" alt="...">
                                    <div class="card-body">
                                    <h5 class="card-title text-center color-theme">PLANEJAMENTO</h5>
                                    </div>
                                </div>
                            </div>
                            
                          </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>

    