<footer class="page-footer font-small pt-1">
    <div class="container">
        <!--Icons-->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Nome da Empresa</h4>
            </div>
            <div class="col-md-12 d-flex justify-content-center container">
                <ul class="social-network d-flex">
                    <!--Telephone-->
                    <li>
                        <a href="tel:numero" target="_blank" class="icoPhone">
                            <i class="fa-solid fa-phone"></i> <p>(xx) xxxx-xxxx</p>
                        </a>
                    </li>
                    <!--WhatsApp-->
                    <li>
                        <a href="https://web.whatsapp.com/send?phone=" target="_blank" class="icoWhatsapp">
                            <i class="fa-brands fa-whatsapp"></i>  <p>(xx) xxxxx-xxxx</p>
                        </a>
                    </li>
                    <!--E-mail-->
                    <li>
                        <a href="mailto:[e-mail]" target="_blank" class="icoEmail">
                            <i class="fa-solid fa-envelope"></i> <p>exemplo@e-mail.com </p>
                        </a>
                    </li>        
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center p-2" >
        <span class="text-light">Todos os Direitos Reservados - © 2022 Copyright:</span>
        <a class="text-white" target="_blank" href="[e-mail]"> Nome da Empresa</a>
    </div>
</footer>