<!--First text and image -->
<section>

    <div class="first-image first-image-915">
        <div class="col-md-6 first-theme justify-content-left">
            <h2 class="color-theme text-left">Atendimento Corporativo</h2>
            <p class="mg-first-text text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aperiam officiis incidunt labore mollitia, accusantium, quod quia fugiat nihil saepe deserunt inventore. Laudantium nesciunt ab similique omnis alias aliquid suscipit.</p>
        </div>    
    </div>
    
    <div>
        <ul class="ul-first text-left">Temos experiência no atendimento de:
            <li class="text-dark li-first">Condominios;</li>
            <li class="text-dark li-first">Construtores;</li>
            <li class="text-dark li-first">Hospitais;</li>
            <li class="text-dark li-first">Hoteis;</li>
            <li class="text-dark li-first">Industria;</li>
            <li class="text-dark li-first">Revendas;</li>
            <li class="text-dark li-first">Escolas;</li>
            <li class="text-dark li-first">Universidades;</li>
            <li class="text-success li-first">Em breve será você!</li>
        </ul>  
    </div>  

    <div>
        <div class="container">
            <div class="row row-cols-2">

                <!--Images-->
                <div class="col mg-second-text">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://i.imgur.com/hLuoluq.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.imgur.com/UqBCbhI.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.imgur.com/0JgZY1f.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.imgur.com/4EXpJbF.png" class="d-block w-100" alt="...">
                            </div>
                        </div>

                        <!--Carolsel's Button - Not need-->
                        <!--
                        <button 
                            class="carousel-control-prev" 
                            type="button" data-target="#carouselExampleFade" 
                            data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                        </button>
                        <button 
                            class="carousel-control-next" 
                            type="button" data-target="#carouselExampleFade" 
                            data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                        </button>
                        -->
                    </div>
                </div>

                <!--Text-->
                <div class="col text-left mg-second-text">
                    <ul class="text-left ul-second color-theme">
                        <h2 class="h2-ferramenta">Temos ferramentas e máquinas para áreas:</h2>
                        <li class="text-dark li-second">Elétrica;</li>
                        <li class="text-dark li-second">Hidráulica;</li>
                        <li class="text-dark li-second">Marcenaria;</li>
                        <li class="text-dark li-second">Segurança;</li>
                        <li class="text-dark li-second">Limpeza;</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--
    Parceiros--
    <div class="container">
        <div class="row row-cols-2">

            <div class="col text-left mg-third-text">
                <h2 class="color-theme">Nossos Parceiros</h2>

                Carousel--
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/nWOENjd.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">COMPROMISSO</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/uIZj6pQ.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">UNIÃO</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/BSQRF2D.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">QUALIDADE</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/Vu6Rb91.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">COMUNICAÇÃO</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/kGJ0nLn.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">CONHECIMENTO</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="">
                                        <img src="https://i.imgur.com/Lvx8Gg1.png" class="card-img-top imagem"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title text-center cores-tema">PLANEJAMENTO</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    -->

    <!--Catalog-->
    <div class="mg-third-text">

        <div class="container">
            <div class="row">
              
                <div class="col catalog">
                    <div class="card heigth-card justify-content-center text-left">
                        <div class="card-body">
                            <h5 class="card-title color-theme">Gostaria de ver nosso portfólio?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Aqui encontrará o que precisa.</h6>
                            <p class="card-text"><a href="https://www.canva.com/design/DAEdpH52kes/UqBuYDN389rBWjELe-tbNg/view?utm_content=DAEdpH52kes&utm_campaign=designshare&utm_medium=link&utm_source=homepage_design_menu" class="card-link color-theme" target="_blank"><b>Clique Aqui</b></a> e você será direcionado para nosso catálogo de produtos, onde será apresentado alguns de nossos produtos.</p>
                            
                        </div>
                    </div>
            
                </div>
            </div>

        </div>
    </div>
</section>

